@tailwind base;

@tailwind components;

.app{
  @apply bg-[#182747] text-[#EBEBEB]
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
  }
  
  .navbar--hidden {
    top: -100px;
  }
@tailwind utilities;
